body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111111;
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.animation-container .animation-element {
  color: whitesmoke;
  display: block;
  font-size: 18px;
  font-family: 'Helvetica';
  text-shadow: 0 0 1px white;
  position: absolute;
  right: 25px;
  user-select: none;
  z-index: 1;
  opacity: 0;
  transform: translateY(100vh);
  animation-name: move;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  will-change: transform;
  will-change: opacity;
  cursor: default;
  pointer-events: none;
}

@keyframes move {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: none;
  }
}
